<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/community.css">

</head>
<body>
<div th:insert="~{model :: copy}"></div>

<div class="container-fluid main" >
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="media" th:each="questions : ${pagedto.questions}">
                <div class="media-left">
                    <a href="#">
                        <img width="38px" height="38px" class="media-object " src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1566099553&di=c0e80d1a8df3edfd63ac92abdcb7ba59&imgtype=jpg&er=1&src=http%3A%2F%2Ftx.haiqq.com%2Fuploads%2Fallimg%2F170508%2F01350S923-7.jpg" >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${questions.question.title}"></h4>
                    <span th:text="${questions.question.commentNumber}?${questions.question.commentNumber}:'1'"></span> 个回复 • <span
                        th:text="${questions.question.viewCount}?${questions.question.viewCount}:'1'"></span> 次浏览 • <span
                        th:text="${#dates.format(questions.question.createTime,'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagedto.showFirstPage}">
                        <a th:href="@{/profile/{section}(section=${section},page=1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagedto.showPrevious}">
                        <a th:href="@{/profile/{section}(section=${section},page=${pagedto.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page: ${pagedto.pages}" th:class="${pagedto.page==page}?'active':''">
                        <a th:href="@{/profile/{section}(section=${section},page=${page})}" th:text="${page}" ></a>
                        <!--page-->
                    </li>

                    <li th:if="${pagedto.showNext}">
                        <a th:href="@{/profile/{section}(section=${section},page=${pagedto.page +1 })}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagedto.showEndPage}">
                        <a th:href="@{/profile/{section}(section=${section},page=${pagedto.totalPage})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group">
                <a href="/profile/questions" class="list-group-item" th:classappend="${section=='questions'}?'active':''">
                   我的问题
                </a>
                <a href="/profile/replies" class="list-group-item" th:classappend="${section=='replies'}?'active':''">
                   最新回复<span class="badge">14</span>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>